*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 25px;
}

html{
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    margin: auto;
    width: 100%;
    max-width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
}